$main-color: #004999;
$pres-color: #ffffff;
$nav-color: #e5efff;

$pres-family: Helvetica;
$nav-family: Helvetica;
$catalog-family: Helvetica;

@mixin no-surroundings {
  margin: 0.35rem;
  padding: 0rem;
};

@mixin nav-button{
  display: inline-block;

  a:link, a:visited{
    background-color: darken($main-color, 5%);
    color: $nav-color;
    font-family: $nav-family;
    padding: 1rem 1.8rem;
    text-align: center;
    text-decoration: none;
  }
  a:hover, a:active{
    background-color: darken($main-color, 8%);
  }
}

@mixin prod-img{
  display: inline-block;

  img{
    margin: 1.5rem;
    height: 9rem;
    width: 9rem;
  }
}

body{
  @include no-surroundings;
}

.main {
  background-color: $main-color;
  border-bottom: solid 0.35rem darken($main-color, 10%);
  padding-top: 3rem;
  padding-bottom: 1rem;

  .storename{
    font-size: 3.5rem;
    text-align: center;
    margin: 0rem;
  }

  .storedescrip{
    font-size: 1.5rem;
    text-align: center;
  }
}

.presentation{
  color:$pres-color;
  font-family: $pres-family;

}

.navbar{
  text-align: center;
  padding-top: 1rem;

  .navlink{
    @include nav-button;
  }
}

.catalog{
  padding-left: 5rem;
  padding-right: 5rem;

  .catalogMessage{
    color: darken($main-color, 20%);
    font-family: $catalog-family;
    padding: 1rem;
  }

  .product{
    @include prod-img;

    position: relative;

    .prodcheck{
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
}
