$main-color: #004999;
$pres-color: #ffffff;
$nav-color: #e5efff;

$pres-family: "Lucida Sans Unicode", sans-serif;
$nav-family: "Lucida Sans Unicode", sans-serif;
$catalog-family: "Lucida Grande", sans-serif;
$buyer-info-family: "Lucida Grande", sans-serif;

$helpboxfamily: "Lucida Sans Unicode", sans-serif;

$navbutton-spacing: 1.5rem;

@mixin no-surroundings {
  margin: 0.35rem;
  padding: 0rem;
};

@mixin nav-button{
  display: inline-block;

  a:link, a:visited{
    background-color: darken($main-color, 5%);
    color: $nav-color;
    font-family: $nav-family;
    margin-left: $navbutton-spacing;
    padding: 1rem 1.8rem;
    text-decoration: none;
  }
  a:hover, a:active{
    background-color: darken($main-color, 8%);
  }
}

@mixin eop-link{
  display: inline-block;

  a:link, a:visited{
    color: $nav-color;
    font-family: $nav-family;
    padding: 1rem 1.8rem;
    text-decoration: none;
  }
  a:hover, a:active{
    color: darken($nav-color, 8%);
  }
}

body{
  @include no-surroundings;
}

.main {
  background-color: $main-color;
  border-bottom: solid 0.35rem darken($main-color, 10%);
  padding-top: 3rem;
  padding-bottom: 1rem;

  .storename{
    font-size: 3.5rem;
    text-align: center;
    margin: 0rem;
  }

  .storedescrip{
    font-size: 1.5rem;
    text-align: center;
  }
}

.presentation{
  color:$pres-color;
  font-family: $pres-family;

}

.navbar{
  text-align: left;
  padding-top: 1rem;

  .navlink{
    @include nav-button;
  }
}

.catalog{
  padding-left: 5rem;
  padding-right: 5rem;

  .catalogMessage{
    color: darken($main-color, 15%);
    font-family: $catalog-family;
    padding: 1rem;
  }

  .product{
    display: inline-block;

    .prodImgContainer{
      position: relative;

      img{
        margin: 1.5rem;
        height: 9rem;
        width: 9rem;
      }

      .imgOverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1.5rem;
        height: 9rem;
        width: 9rem;
        opacity: 0;
        transition: .5s ease;
        background-color: white;

        .overText {
          color: darken($main-color, 15%);
          font-family: $catalog-family;;
          font-size: 1rem;
          position: absolute;
          top: 2rem;
          bottom: 2rem;
          left: 2rem;
          right: 2rem;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: justify;
        }
      }
    }

    .prodImgContainer:hover .imgOverlay{
      opacity: 0.6;
    }

    .prodcheck{
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
    }
  }
}

.buyerInfoContainer{
  .buyerInfo{
    .tag{
      color: darken($main-color, 15%);
      font-family: "Lucida Grande", sans-serif;
      font-size: 1.2rem;
      margin-left: 34.2rem;
      margin-right: 34.2rem;
      text-align: left;
    }

    .textBox{
      text-align: center;
    }
  }
}

.bottombar{
  background-color: $main-color;
  padding: 2rem;

  .bottomlink{
    @include eop-link;
  }
}

.submitcontainer{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-right: 1.4rem;

  .prodsubmit{
    @include nav-button;
  }
}

.helpbox{
  padding-top: 5rem;
  padding-left: 25rem;
  padding-right: 25rem;
  padding-bottom: 8rem;

  .helpboxtitle{
    text-align: center;
    font-family: $helpboxfamily;
    font-size: 1.5rem;
  }

  .helpboxmessage{
    text-align: justify;
    font-family: $helpboxfamily;
    font-size: 1.1rem;
  }

  .backhomecontainer{
    text-align: center;
    padding-right: 1.4rem;

    .backhome{
      margin: 3rem;
      @include nav-button;
    }
  }
}
